@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(imagemFundo.jpg);
    
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
   
}

.logoProjeto {
    width: 25vh;
    margin-right: 30vh;
    
}

.navbar {
    font-size: xx-large;

}

.navbar a {
    text-decoration: none;

}

.itemMenu {
    color: rgb(255, 255, 255);
    margin-right: 10vh;
    font-weight: 900;
}

.cadastrar {
    display: flex;
    align-items: center;
    background-color:#cf2b46 ;
    box-shadow: 5px 5px 0px black, 5px 5px 0px;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 22vh;
    height: 3vw;
    font-size: x-large;
    
}

/*  fim header */

.container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    width: 100%;
    height: 25vh;

}

.slogan {
    font-size: xx-large;
    color: rgb(255, 255, 255);
    font-weight: bolder;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: x-large;
    width: 30vh;
    height: 8vh;
font-weight: 500;
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 5px 0px black, 5px 5px 0px;
    background-color: #cf2b46;
    color: white;
    text-decoration: none;
}

/*  fim sessão 1 */

.tituloContainerProjeto {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
    margin-top: 5vh;
    color: rgb(255, 255, 255);
   
}

.containerProjeto {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;

}

.card1 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 10vh;
    width: 30rem;
    height: 45vh;
    padding: 20px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 20px;
    font-size: larger;
}
.card2 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 10vh;
    width: 30rem;
    height: 45vh;
    padding: 20px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 20px;
    font-size: larger;
}
.cardImagem1 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 9vh;
    width: 66vh;
    height: 49vh;
    padding: 10px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 5px;
    font-size: x-large;
}

.ImagemProjeto {
    position: relative;
    width: 66vh;
    height: 22vw;

}

/*  fim sessão Projeto */

.tituloContainerHistoria {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
    margin-top: 8vh;
    color: rgb(255, 255, 255);
}

.containerHistoria {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;

}


.cardImagem2 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 9vh;
    width: 66vh;
    height: 49vh;
    padding: 10px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 5px;
    font-size: x-large;
}

.imagemGrafiteBrasil {
    width: 66vh;
    height: 22vw;

}

/*  fim sessão Historia do grafite no BR */

.tituloContainerTipos {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
    margin-top: 8vh;
    color: rgb(255, 255, 255);
}

.containerTipos1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;

}

.cardTipo1 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 20vh;
    width: 30rem;
    height: 23vh;
    padding: 20px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 20px;
    font-size: larger;
}

.cardImagem3 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 9vh;
   width: 66vh;
    height: 55vh;
    padding: 10px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 5px;
    font-size: xx-large;
}
.NomeTag{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.NomeStencil{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.Nome3D{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.NomeWild{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.NomeBombing{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.imagemTag {
     width: 66vh;
    height: 22vw;
}

/*  fim sessão tipo 1 tag */


.containerTipos2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;

}

.cardTipo2 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 20vh;
    width: 30rem;
    height: 23vh;
    padding: 20px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 20px;
    font-size: larger;
}

.cardImagem4 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 9vh;
   width: 66vh;
    height: 55vh;
    padding: 10px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 5px;
    font-size: xx-large;
}

.imagemStencil {
    width: 66vh;
    height: 22vw;
}

/*  fim sessão tipo 2 stencil */


.containerTipos3 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;

}

.cardTipo3 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 20vh;
    width: 30rem;
    height: 23vh;
    padding: 20px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 20px;
    font-size: larger;
}

.cardImagem5 {
    background-color: whitesmoke;
    
    align-items: center;
    position: relative;
    margin-top: 9vh;
   width: 66vh;
    height: 55vh;
    padding: 10px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 5px;
    font-size: xx-large;
}

.imagem3D {
    width: 66vh;
    height: 22vw;
}


/*  fim sessão tipo 3 3D */


.containerTipos4 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;

}

.cardTipo4 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 20vh;
    width: 30rem;
    height: 23vh;
    padding: 20px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 20px;
    font-size: larger;
}

.cardImagem6 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 9vh;
   width: 66vh;
    height: 55vh;
    padding: 10px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 5px;
    font-size: xx-large;
}

.imagemWildStyle {
     width: 66vh;
    height: 22vw;
}


/*  fim sessão tipo 4 WildStyle */


.containerTipos5 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;

}

.cardTipo5 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 20vh;
    width: 30rem;
    height: 23vh;
    padding: 20px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 20px;
    font-size: larger;
}

.cardImagem7 {
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 9vh;
   width: 66vh;
    height: 55vh;
    padding: 10px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 5px;
    font-size: xx-large;
}

.imagemBombing {
   width: 66vh;
    height: 22vw;
   
}

/*  fim sessão tipo 5 bombing */

/*  fim sessão 4 */



.linha{
    width: 90%;
    height: 3px;
    background-color:  whitesmoke;
    margin-top: 5vh;
}
.direitoProjeto{
  
    font-size: large;
}
.contatoFooter{
  margin-right: 40vh;
  margin-left: 20vh;
    font-size: x-large;
}
.conteudoFooter1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
}
.conteudoFooter2{
    display: flex;
    justify-content: flex-start;
   
    align-items: center;
    color: whitesmoke;
}
.ContatoEmail{
font-size: large;
}
.ContatoTelefone{
font-size: large;
margin-right: 5vh;
}
.imagemTelefone{
    width: 5vh;
}
.imagemEmail{
    width: 10vh;
}
.myChart2{
    
}
.containerGrafico{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;
    margin-top: 5vh;
}
.cardGrafico{
    background-color: whitesmoke;
    align-items: center;
    position: relative;
    margin-top: 10vh;
    width: 30rem;
    height: 23vh;
    padding: 20px;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 20px;
    font-size: larger;
}