@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(imagemFundo.jpg);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    /* padding-top: 5px; */

}

.logoProjeto {
    width: 25vh;
    margin-right: 30vh;
}

.navbar {
    font-size: xx-large;

}

.navbar a {
    text-decoration: none;

}

.itemMenu {
    color: rgb(255, 255, 255);
    margin-right: 10vh;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
  
}
.card1 {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 400px;
    height: 27vw;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    /* margin-bottom: 10px; */
     margin-top: 10px; 
    color: #cf2b46;
}

.label-float input {
    width: 100%;
    padding: 5px 5px 5px 0px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #252628;
    color: #000000;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 18px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float {
    font-size: 18px;
    position: relative;
    
    margin-top: 7%;
    margin-bottom: 7%;
}

.label-float input:focus {
    border-bottom: 2px solid #cf2b46;
}
.label-float input:valid {
    border-bottom: 2px solid  #cf2b46 ;
}

.label-float label {
    /* font-size: 60px; */
    color: #252628;
    font-weight: 500;
    /* pointer-event: none; */
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus+label {
    font-size: 18px;
    margin-top: 0;
    color: #cf2b46;
}

.label-float input:valid+label {
    font-size: 18px;
    margin-top: 0;
    color:  #cf2b46;
}

button {
    background-color:  #cf2b46;
    /* border-color: #ffffff; */
    border-style:none;
    width: 160px;
    color: #fff;
    padding: 7px;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover {
    background-color: #cf2b46;
}

.estiloBut {
    display: flex;
    justify-content: center;
}